<section class="hero is-white">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        新しく募集をする<hr>
      </h1>
    </div>
  </div>
</section>


<% if @humster.errors.any? %>
  <div class="notification is-danger">
    <h2><%= pluralize(@humster.errors.count, "error") %> prohibited this object from being saved: not successfully</h2>
    <ul>
      <% @humster.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= form_for @humster do |f| %>
          <div class="field">
            <%= f.label :title, "募集タイトル", class: "label"%>
            <%= f.text_field :title, class: "input" ,:placeholder => "例:一身上の都合で飼えなくなりました"%>
          </div>

          <div class="field">
            <%= f.label :body, "詳細", class: "label" %>
            <%= f.text_area :body, class: "textarea",:placeholder => "生まれた日,健康状態,性格,性別,引き渡し方法,ワクチン有無など..." %>
          </div>

          <div class="field">

            <%= f.label :category,"カテゴリー",class: "label"%>
            <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %> 
            <%= category.label do %>
            <%= category.check_box %>
            <%= category.text %>
            <% end %>
            <% end %>
            
          </div>

          <div class="field">
            <%= f.label :image, "写真", class: "label" %>
            <%= f.file_field :image, class: "input" %>
          </div>

          <%= f.submit '投稿', class: "button is-success" %>
        <% end %>
      </div>
    </div>
  </div>
</section>
