<section class="hero is-white">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        募集詳細<hr>
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">

              <% if @humster.image.attached? %>
              <%= image_tag @humster.image %>
              <%else%>
              <%= image_tag 'default.png'%>
              <% end %>


              
            </figure>
          </div>
          <div class="card-content">
            
            <div class="content">
              <table class="table is-narrow">
                <tr>
                  <td><h3>ハムスターの種類</h3><br>
                  <%= @humster.title %></td>
                </tr>
                
                <tr>
                  <td><h3>募集詳細</h3><br>
                    <%= simple_format @humster.body %></td>
                </tr>
              </table>
              <% if @humster.user.id == current_user.id %>
                <%= link_to "編集画面へ", edit_humster_path(@humster), class: "button is-success" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">

        <article class="panel is-black">
          <p class="panel-heading">
            By <%= @humster.user.username %>
          </p>
          <div class="panel-block">
            <p class="control">
              <%= @humster.user.profile %>
            </p>
          </div>
          <%= link_to user_path(@humster.user), class: "panel-block" do %>
            <span class="panel-icon">
              <i class="fas fa-user" aria-hidden="true"></i>
            </span>
            <%= @humster.user.username %> さんのページへ
          <% end %>
        </article>

        <div>
          チャット機能
        </div>

      </div>
      
    </div>
  </div>
</section>