<section class="hero is-white">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        募集詳細<hr>
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">

              <% if @humster.image.attached? %>
              <%= image_tag @humster.image %>
              <%else%>
              <%= image_tag 'default.png'%>
              <% end %>


              
            </figure>
          </div>
          <div class="card-content">
            
            <div class="content">
              <table class="table is-narrow">
                <tr>
                  <td><h3>ハムスターの種類</h3><br>
                  <%= @humster.title %></td>
                </tr>

                <tr>
                  <td align="left"><h3>カテゴリー</h3><br>
                  <% @humster.categories.each do |category| %>
  　　　　　　　　　<%= category.name %>
                  <% end %>
　　　　　　　　　　</td>
                </tr>
                
                <tr>
                  <td><h3>募集詳細</h3><br>
                    <%= simple_format @humster.body %></td>
                </tr>

                
              </table>

              <% if @humster.user.id == current_user.id %>
                <%= link_to "編集画面へ", edit_humster_path(@humster), class: "button is-success" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">

        <article class="panel is-black">
          <p class="panel-heading">
            By <%= @humster.user.username %>
          </p>
          <div class="panel-block">
            <p class="control">
              <%= @humster.user.profile %>
            </p>
          </div>
          <%= link_to user_path(@humster.user), class: "panel-block" do %>
            <span class="panel-icon">
              <i class="fas fa-user" aria-hidden="true"></i>
            </span>
            <%= @humster.user.username %> さんのページへ
          <% end %>
        </article>

        <div>
        
        <h2 class="comment-title"> この募集にコメントをする</h2>

        <%= form_with model: [@humster, @comment],local: true do |f| %>

        <div class="field">
        <%= f.text_area :content %>
        
        </div>

        <%= f.submit 'コメントする',class: "button is-success" %>

        <% end %>


        <div class="content">
          <h2 class="comment-title">コメント一覧</h2>
          <table class="table is-narrow">

        <% if @comments.any? %>

        <% @comments.each do |comment| %>
         <tr>
          <td>
            ユーザ名：<%= comment.user.username %>
            <br>
            コメント内容：<%= comment.content %>
          </td>
         </tr>
        <% end %>
        <% end %>

          </table>
        </div>

        <%= paginate @comments%>



        </div>

      </div>
      
    </div>
  </div>
</section>