<section class="hero is-white">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        マイページ<hr>
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="columns is-centered">
          <div class="column is-6">


            <% if @user.profile_image.attached? %>
            <figure class="image is-200x200"  style="margin-left: auto; margin-right: auto;">
            <%= image_tag @user.profile_image %>
            </figure>

            <else>
            <% else %>
            <figure class="image is-200x200"  style="margin-left: auto; margin-right: auto;">
            <%= image_tag 'default.png'%>
            </figure>
            <% end %>


          </div>

          <div class="column is-6">

            <div class="content">

                <table class="table full-width">

                <tr>
                <td><h4>ユーザー名</h4>
                  <%= @user.username %></td>
                </tr>
              
                <tr>
                  <td class="profile-name">
                    <h4>メールアドレス</h4>
                      <%= @user.email %></td>
                </tr>
                
                <tr>  
                  
                  <td class="profile-name"><h4>ユーザー情報</h4>
                    <%= simple_format @user.profile %></td>
                <tr>

                </table>
              

            </div> 
                
          </div>



        </div>
      </div>
    </div>

    <% if @user.id == current_user.id %>

    <div class="buttons">
        <span class="user-edit"><%= link_to "ユーザーの編集", edit_user_path(@user), class: "button is-primary" %></span>
        <span class="user-delete"> <%= link_to "ユーザーの削除", user_path(@user), class: "button is-danger",method: :delete,data: {confirm:'投稿も消えてしまいますが、削除してもよろしいですか？'} %></span>

    <% end %> 

    </div>


  </div>
</section>


<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @user.humsters.each do |humster| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= link_to humster_path(humster) do %>

                  <% if humster.image.attached? %>
                  <%= image_tag humster.image %>
                  <%else%>
                  <%= image_tag 'default.png'%>
                  <% end %>

                <% end %>
              </figure>
            </div>

            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <%= link_to humster_path(humster), class: "panel-block" do %>
                    <span class="panel-icon">
                      <i class="fas fa-book" aria-hidden="true"></i>
                    </span>
                    この募集を見る
                  <% end %>

                  <% if @user.id == current_user.id %>

                    <%= link_to edit_humster_path(humster), class: "panel-block" do %>
                      <span class="panel-icon">
                        <i class="fas fa-edit"></i>
                      </span>
                      この募集を編集する
                    <% end %>

                    <%= link_to humster_path(humster), method: :delete, data: {confirm: "削除しますか？"}, class: "panel-block" do %>
                      <span class="panel-icon">
                        <i class="fas fa-trash"></i>
                      </span>
                      この募集を削除する
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="content">
                <time><%= humster.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>




